/* Global */

// $color-main: #e07833;
$color-main: #65ddea;
$color-light: #c3d5f8;
$color-text: #073654;
$color-hover: #0a5b81;
$color-nav: #12171b;
$color-background: #dfe4ea;
$font-text: "Heebo", sans-serif;
$font-header: "Montserrat", sans-serif;
$font-intro: "Inconsolata", monospace;

*,
*::before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  text-align: center;
  margin: 0px;
  color: $color-text;
  font-size: 20px;
  line-height: 1.7;
  font-family: $font-text;
  overflow-x: hidden;
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1240px;
}

section {
  padding: 72px 0;
  scroll-snap-align: start;
  min-height: 85vh;
  max-width: 1600px;
  margin: 35px auto;
  border-radius: 20px;
  border: 2px solid white;
  background-color: white;
  background: linear-gradient(
    to right bottom,
    (rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.5))
  );
  backdrop-filter: blur(4px);
}

.section-title {
  position: relative;
  font-size: 36px;
  margin: 0 0 48px 0;
  font-family: $font-header;
  letter-spacing: 5px;
}

.section-title::after {
  position: absolute;
  content: "";
  bottom: -12px;
  left: 50%;
  width: 50px;
  height: 2px;
  transform: translateX(-50%);
  background: $color-nav;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Home */

#home {
  height: 100vh;
  position: relative;
}

.home-inner {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $color-main;
  z-index: -1;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: 1s ease-out;
  width: 100%;
  height: 5vh;
  letter-spacing: 2px;
}

.hamburger {
  display: none;
}
.nav-fixed {
  background-color: $color-nav;
  border-bottom: 1px solid $color-main;
  color: $color-light;
  position: fixed;
  transition: 1s;
  z-index: 900;
}

.nav-fixed a {
  color: $color-main;
}

.nav-fixed #logo {
  color: $color-light;
}

.nav-links {
  display: flex;
  list-style: none;
  justify-content: center;
}

.nav-links li {
  padding: 0 45px 0 45px;
  color: $color-main;
  transition: 0.2s linear;
  letter-spacing: 3px;
}

.nav-links li:hover {
  transform: scale(1.2);
}

.page-title {
  color: $color-main;
  font-size: 60px;
  position: relative;
  font-family: $font-header;
  letter-spacing: 4px;
  font-weight: 400;
  color: $color-main;
}

.page-title::after {
  position: absolute;
  content: "";
  bottom: -5px;
  left: 50%;
  width: 20%;
  height: 2px;
  transform: translateX(-50%);
  background: $color-main;
}

.page-subtitle {
  color: $color-main;
  font-size: 18px;
  font-weight: 400;
  margin: 30px 0 0 0;
  letter-spacing: 8px;
}

.intro {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: left;
  z-index: 999;
}

.intro h1:first-of-type {
  color: rgb(85, 85, 85);
}

.slider {
  background: rgb(54, 68, 85);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  z-index: 998;
}

.intro-text {
  color: rgb(224, 237, 245);
  font-family: $font-intro;
}

.hide {
  background: black;
  overflow: hidden;
}

.hide span {
  transform: translateY(100%);
  display: inline-block;
}

/* About */

#about {
  scroll-snap-align: start;
}

#about .row {
  display: flex;
}

.my-pic {
  width: 50%;
  scroll-snap-align: start;
}

.my-description {
  width: 50%;
  text-align: left;
}

#about img {
  position: absolute;
  max-width: 40%;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Skills */

.skills-subtitle {
  margin: 60px 0 0px;
  background: linear-gradient(
    171deg,
    rgb(209, 228, 243) 0%,
    rgb(221, 221, 221) 35%,
    rgb(226, 226, 226) 100%
  );
  padding: 10px 10px 20px 10px;
  border-radius: 10px;
}

.skills-subtitle h3 {
  font-size: 28px;
  text-align: left;
  margin-bottom: 20px;
  font-family: $font-header;
}
.skills-list {
  display: flex;
  list-style: none;
  width: 60%;
  justify-content: space-between;
  margin: auto;
}

.backend {
  justify-content: center;
}

.skills-list li {
  display: flex;
}

.skills-list li i {
  font-size: 60px;
  padding: 20px;
}

.skills-list span {
  display: block;
  font-size: 20px;
  font-weight: 600;
  font-family: $font-text;
}

/* Projects */

[class^="project-"] {
  position: relative;
  // min-height: 100px;
}

.project-image {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
  z-index: 10;
  border-radius: 5px;
}

.project-image .row {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: 0.5s ease;
  z-index: 1;
  border-radius: 5px;
}

.project-image .row:hover {
  background-color: rgba($color: #000000, $alpha: 0.5);
  opacity: 1;
}

.buttons {
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.buttons .code,
.demo {
  background-color: $color-light;
  margin: 10px;
  text-transform: uppercase;
  padding: 15px;
  font-size: 16px;
  color: $color-text;
  opacity: 1;
  letter-spacing: 2px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s ease;

  &:hover {
    background-color: $color-text;
    color: $color-light;
  }
}

.project-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s;
}

.project-right .project-image {
  right: 0;
}

.project-right .project-description {
  padding: 36px 55% 36px 0;
  text-align: right;
}

.project-left .project-description {
  padding: 36px 0 36px 55%;
  text-align: left;
}

/*Contact*/

#contact {
  min-height: 85vh;
}

#contact ul {
  list-style: none;
  display: flex;
  width: 80%;
  margin: 20% auto;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

#contact i {
  font-size: 6rem;
  transition: 0.2s ease-out;
  cursor: pointer;
}

#contact i:hover {
  transform: scale(1.2);
  color: $color-hover;
}

/* Modals*/
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  overflow: auto;
  padding: 30px;
  display: none;
}

.overlay.show {
  display: flex;
}

.overlay::webkit-scrollbar {
  display: none;
}

.modal {
  max-width: 600px;
  margin: auto;
  background-color: #ffffff;
  position: relative;
  padding: 30px;
  display: none;
}

.modal.show {
  display: block;
}

.modal .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 10px;
}

#myPhone {
  border-radius: 10px;
  width: 30%;
  height: 30%;
  background-color: $color-background;
}

#myPhone h2 {
  margin-top: 20px;
}

#myPhone .btn-close {
  cursor: pointer;
  padding: 0;
  font-size: 25px;
  margin: 5px 10px;
}

#myPhone .btn-close:hover {
  color: $color-hover;
}

/* Footer */

.page-footer {
  position: relative;
  background: $color-nav;
  margin: 0 auto;
  height: 8vh;
  border-top: 1px solid $color-main;
}

.page-footer p {
  color: $color-light;
  position: absolute;
  padding: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: $font-header;
  font-size: 15px;
}

@media screen and (max-width: 768px) {
  .home-inner {
    top: 40%;
  }

  h1 {
    font-size: 1.5rem;
  }
  nav {
    position: fixed;
  }
  .nav-links {
    display: none;
  }
  .nav-links-mobile {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    text-decoration: none;
    background-color: $color-nav;
    color: $color-main;
    height: 100vh;
    width: 100%;
    letter-spacing: 4px;
    flex-direction: column;
    justify-content: space-around;
    font-size: 24px;
    transition: transform 0.2s ease-in-out;
    transform: translateX(100vw);
  }

  .nav-links-mobile-active {
    transform: translateX(0vw);
  }

  .hamburger {
    display: flex;
    position: absolute;
    width: auto;
    padding: 10px;
    margin-right: auto;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    outline: none;
  }

  .hamburger-box {
    width: 25px;
    height: 15px;
    display: inline-block;
    position: relative;
  }

  @mixin hamburger-line {
    width: 100%;
    height: 3px;
    background-color: $color-main;
    position: absolute;
    border-radius: 3px;
  }

  .hamburger-inner {
    @include hamburger-line;

    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color 0.3s 0.1s ease-in-out;
  }

  .hamburger-inner::before,
  .hamburger-inner::after {
    @include hamburger-line;

    content: "";
    left: 0;
    transition: transform 0.3s ease-in-out;
  }

  .hamburger-inner::before {
    top: -10px;
  }

  .hamburger-inner::after {
    top: 10px;
  }

  .hamburger-active .hamburger-inner {
    background-color: transparent;
  }

  .hamburger-active .hamburger-inner:before {
    transform: translateY(10px) rotate(45deg);
  }

  .hamburger-active .hamburger-inner::after {
    transform: translateY(-10px) rotate(-45deg);
  }

  #about .row {
    flex-wrap: wrap;
  }
  .my-pic {
    margin-top: 100px;
    display: block;
    width: 100%;
  }

  .my-description {
    margin-top: 140px;
    display: block;
    width: 100%;
  }
  [class^="project-"] {
    position: relative;
  }

  .project-image {
    position: relative;
    text-align: center;
    margin: auto;
    width: 100%;
  }

  .project-right .project-image {
    left: 0;
    padding: 0;
  }
  .project-image img {
    padding: 0;
    margin: auto;
    border-radius: 5px;
  }

  .project-right .project-description {
    padding: 0 30px 60px 30px;
    text-align: left;
  }

  .project-left .project-description {
    padding: 0 30px 60px 30px;
    text-align: left;
  }
  .skills-subtitle h3 {
    text-align: center;
  }

  .skills-list {
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin: 0;
  }

  .skills-list li i {
    font-size: 40px;
  }
  .skills-list span {
    font-size: 14px;
  }

  #contact i {
    font-size: 4rem;
    padding: 20px;
  }

  #myPhone {
    width: auto;
    height: auto;
  }
}
