/* Global */
*,
*::before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  text-align: center;
  margin: 0px;
  color: #073654;
  font-size: 20px;
  line-height: 1.7;
  font-family: "Heebo", sans-serif;
  overflow-x: hidden;
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1240px;
}

section {
  padding: 72px 0;
  scroll-snap-align: start;
  min-height: 85vh;
  max-width: 1600px;
  margin: 35px auto;
  border-radius: 20px;
  border: 2px solid white;
  background-color: white;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.9)), to(rgba(255, 255, 255, 0.5)));
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.5));
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

.section-title {
  position: relative;
  font-size: 36px;
  margin: 0 0 48px 0;
  font-family: "Montserrat", sans-serif;
}

.section-title::after {
  position: absolute;
  content: "";
  bottom: -12px;
  left: 50%;
  width: 50px;
  height: 2px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #e07833;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Home */
#home {
  height: 100vh;
  position: relative;
}

.home-inner {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #e07833;
  z-index: -1;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 1s ease-out;
  transition: 1s ease-out;
  width: 100%;
  height: 5vh;
  letter-spacing: 2px;
}

.hamburger {
  display: none;
}

.nav-fixed {
  background-color: #12171b;
  border-bottom: 1px solid #e07833;
  color: #c3d5f8;
  position: fixed;
  -webkit-transition: 1s;
  transition: 1s;
  z-index: 900;
}

.nav-fixed a {
  color: #e07833;
}

.nav-fixed #logo {
  color: #c3d5f8;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-links li {
  padding: 0 45px 0 45px;
  color: #e07833;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.nav-links li:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.page-title {
  color: #e07833;
  font-size: 60px;
  position: relative;
  font-family: "Montserrat", sans-serif;
  color: #e07833;
}

.page-title::after {
  position: absolute;
  content: "";
  bottom: -5px;
  left: 50%;
  width: 20%;
  height: 2px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #e07833;
}

.page-subtitle {
  color: #e07833;
  font-size: 18px;
  margin: 30px 0 0 0;
  letter-spacing: 3px;
}

.intro {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  text-align: left;
  z-index: 999;
}

.intro h1:first-of-type {
  color: #555555;
}

.slider {
  background: #364455;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  z-index: 998;
}

.intro-text {
  color: #e0edf5;
  font-family: "Inconsolata", monospace;
}

.hide {
  background: black;
  overflow: hidden;
}

.hide span {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  display: inline-block;
}

/* About */
#about {
  scroll-snap-align: start;
}

#about .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.my-pic {
  width: 50%;
  scroll-snap-align: start;
}

.my-description {
  width: 50%;
  text-align: left;
}

#about img {
  position: absolute;
  max-width: 40%;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/* Skills */
.skills-subtitle {
  margin: 60px 0 0px;
  background: linear-gradient(171deg, #d1e4f3 0%, #dddddd 35%, #e2e2e2 100%);
  padding: 10px 10px 20px 10px;
  border-radius: 10px;
}

.skills-subtitle h3 {
  font-size: 28px;
  text-align: left;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
}

.skills-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: 60%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
}

.backend {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skills-list li i {
  font-size: 60px;
  padding: 20px;
}

.skills-list span {
  display: block;
  font-size: 20px;
  font-weight: 600;
  font-family: "Heebo", sans-serif;
}

/* Projects */
[class^="project-"] {
  position: relative;
}

.project-image {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
  z-index: 10;
}

.project-image img {
  width: 90%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding: 30px;
  border-radius: 40px;
}

.project-image img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 0.7;
}

.project-right .project-image {
  right: 0;
}

.project-right .project-description {
  padding: 36px 55% 36px 0;
  text-align: right;
}

.project-left .project-description {
  padding: 36px 0 36px 55%;
  text-align: left;
}

/*Contact*/
#contact {
  min-height: 85vh;
}

#contact ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: 20% auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact i {
  font-size: 6rem;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  cursor: pointer;
}

#contact i:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: #0a5b81;
}

/* Modals*/
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: auto;
  padding: 30px;
  display: none;
}

.overlay.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.overlay::webkit-scrollbar {
  display: none;
}

.modal {
  max-width: 600px;
  margin: auto;
  background-color: #ffffff;
  position: relative;
  padding: 30px;
  display: none;
}

.modal.show {
  display: block;
}

.modal .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 10px;
}

#myPhone {
  border-radius: 10px;
  width: 30%;
  height: 30%;
  background-color: #dfe4ea;
}

#myPhone h2 {
  margin-top: 20px;
}

#myPhone .btn-close {
  cursor: pointer;
  padding: 0;
  font-size: 25px;
  margin: 5px 10px;
}

#myPhone .btn-close:hover {
  color: #0a5b81;
}

/* Footer */
.page-footer {
  position: relative;
  background: #12171b;
  margin: 0 auto;
  height: 8vh;
  border-top: 1px solid #e07833;
}

.page-footer p {
  color: #c3d5f8;
  position: absolute;
  padding: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}

@media screen and (max-width: 768px) {
  .home-inner {
    top: 40%;
  }
  h1 {
    font-size: 1.5rem;
  }
  nav {
    position: fixed;
  }
  .nav-links {
    display: none;
  }
  .nav-links-mobile {
    position: absolute;
    left: 0;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-decoration: none;
    background-color: #12171b;
    color: #e07833;
    height: 100vh;
    width: 100%;
    letter-spacing: 4px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    font-size: 24px;
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    transition: -webkit-transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
  }
  .nav-links-mobile-active {
    -webkit-transform: translateX(0vw);
            transform: translateX(0vw);
  }
  .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    width: auto;
    padding: 10px;
    margin-right: auto;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    right: 5%;
    top: 50%;
    -webkit-transform: translate(-5%, -50%);
            transform: translate(-5%, -50%);
    outline: none;
  }
  .hamburger-box {
    width: 25px;
    height: 15px;
    display: inline-block;
    position: relative;
  }
  .hamburger-inner {
    width: 100%;
    height: 3px;
    background-color: #e07833;
    position: absolute;
    border-radius: 3px;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-transition: background-color 0.3s 0.1s ease-in-out;
    transition: background-color 0.3s 0.1s ease-in-out;
  }
  .hamburger-inner::before,
  .hamburger-inner::after {
    width: 100%;
    height: 3px;
    background-color: #e07833;
    position: absolute;
    border-radius: 3px;
    content: "";
    left: 0;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }
  .hamburger-inner::before {
    top: -10px;
  }
  .hamburger-inner::after {
    top: 10px;
  }
  .hamburger-active .hamburger-inner {
    background-color: transparent;
  }
  .hamburger-active .hamburger-inner:before {
    -webkit-transform: translateY(10px) rotate(45deg);
            transform: translateY(10px) rotate(45deg);
  }
  .hamburger-active .hamburger-inner::after {
    -webkit-transform: translateY(-10px) rotate(-45deg);
            transform: translateY(-10px) rotate(-45deg);
  }
  #about .row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .my-pic {
    margin-top: 100px;
    display: block;
    width: 100%;
  }
  .my-description {
    margin-top: 140px;
    display: block;
    width: 100%;
  }
  [class^="project-"] {
    position: relative;
  }
  .project-image {
    position: relative;
    text-align: center;
    margin: auto;
    width: 100%;
  }
  .project-right .project-image {
    left: 0;
    padding: 0;
  }
  .project-image img {
    padding: 0;
    margin: auto;
    border-radius: 5px;
  }
  .project-right .project-description {
    padding: 0 30px 60px 30px;
    text-align: left;
  }
  .project-left .project-description {
    padding: 0 30px 60px 30px;
    text-align: left;
  }
  .skills-subtitle h3 {
    text-align: center;
  }
  .skills-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
  }
  .skills-list li i {
    font-size: 40px;
  }
  .skills-list span {
    font-size: 14px;
  }
  #contact i {
    font-size: 4rem;
    padding: 20px;
  }
  #myPhone {
    width: auto;
    height: auto;
  }
}
/*# sourceMappingURL=style.css.map */